<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<link href="../static/css/style.css" th:href="@{/css/style.css} "
	rel="stylesheet" />
</head>


<body>
	<div class="container d-flex h-100 mx-auto text-center">
		<div
			class="containter-fluid justify-content-center align-self-center mx-auto">
			<h2>Something went wrong please try again later...</h2>

			<a th:href="@{/set-up}" class="btn btn-primary btn-lg">Try Again</a>
		</div>
	</div>


</body>